.DS_Store
.DS_Store
/1_self_ukdates_html_etc/node_modules
/1b_self_ukdates_html_etc/ios
/1b_self_ukdates_html_etc/android
/1b_self_ukdates_html_etc/node_modules
/2_self_ukdates_html_etc/android
/2_self_ukdates_html_etc/ios
/2_self_ukdates_html_etc/node_modules
/2b_underHomeDir_self_ukdates_html_etc/android
/2b_underHomeDir_self_ukdates_html_etc/ios
/2b_underHomeDir_self_ukdates_html_etc/node_modules
.DS_Store
offline-first-apps-angular-ionic-couchdb-main/.DS_Store
